Repository chile-sh/jobs: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix --, npm run lint:fix

.lintstagedrc:

{
  "*.{js,ts,tsx}": ["npm run lint:fix --"],
  "*.json": ["npm run lint:fix"]
}

refactor(scraper): :fire: remove unused search method
  apps/scraper/src/router.ts
  apps/scraper/src/scraper.ts
Due: npm run lint:fix --

feat(api): add city model, improve job and country model
  apps/api/src/city/city.model.ts
  apps/api/src/country/country.model.ts
  apps/api/src/job/job.model.ts
Due: npm run lint:fix --

refactor(api): update router schema
  apps/api/src/job/job.controller.ts
  apps/api/src/job/job.router.ts
Due: npm run lint:fix --

fix(scraper): :recycle: get the full ISO date instead of the short one
  apps/scraper/src/scraper.ts
Due: npm run lint:fix --

refactor(scraper): :label: update types
  apps/scraper/src/types.d.ts
Due: npm run lint:fix --

fix: :bug: remove meta (was always empty) and save the metadata in redis instead
  apps/worker/src/queues/getonbrd/scraper.ts
Due: npm run lint:fix --

refactor(api): :recycle: restructure
  apps/api/src/models/city.model.ts
  apps/api/src/models/company.model.ts
  apps/api/src/models/country.model.ts
  apps/api/src/models/job.model.ts
  apps/api/src/router.ts
  apps/api/src/routers/job.router.ts
Due: npm run lint:fix --

docs(scraper): :memo: add note to scraper docs
  apps/scraper/README.md
Due: none

feat(scraper): :sparkles: exclude salary if `min` and `max` are the same that the salary range
  apps/api/src/routers/job.router.ts
  apps/scraper/src/scraper.ts
  apps/worker/src/env.ts
  apps/worker/src/queues/getonbrd/insert-db.ts
  apps/worker/src/queues/getonbrd/scraper.ts
  packages/db/migrations/20230522_init_tables.ts
  packages/db/tables.ts
  packages/helpers/env.ts
Due: npm run lint:fix --

style(api): refactor
  apps/api/src/models/city.model.ts
  apps/api/src/models/company.model.ts
  apps/web/app/page.tsx
Due: npm run lint:fix --

feat: :sparkles: upsert cities, countries and tags
  apps/api/src/models/job.model.ts
  apps/api/src/routers/job.router.ts
  apps/worker/src/env.ts
  apps/worker/src/queues/getonbrd/insert-db.ts
  apps/worker/src/queues/getonbrd/scraper.ts
  packages/db/index.ts
  packages/db/migrations/20230522_init_tables.ts
  packages/db/tables.ts
Due: npm run lint:fix --

refactor: update models
  apps/api/src/models/city.model.ts
  apps/api/src/models/country.model.ts
  apps/api/src/models/geo.model.ts
  apps/api/src/models/job.model.ts
  apps/api/src/models/tag.model.ts
  apps/api/src/routers/job.router.ts
  apps/worker/tsconfig.json
Due: npm run lint:fix --, npm run lint:fix

feat: add db seed util, update migrations
  apps/worker/src/queues/getonbrd/index.ts
  apps/worker/src/queues/getonbrd/insert-db.ts
  packages/db/index.ts
  packages/db/migrations/20230522_init_tables.ts
  packages/db/scripts/migrate.ts
  packages/db/seeds/init_job_sources.ts
  packages/db/tables.ts
  packages/tsconfig/api.json
Due: npm run lint:fix --, npm run lint:fix

docs: update readme
  README.md
Due: none

feat(db): :sparkles: migrate to drizzle-orm
  README.md
  apps/api/src/models/company.model.ts
  apps/api/src/models/geo.model.ts
  apps/api/src/models/job.model.ts
  apps/api/src/models/tag.model.ts
  apps/api/src/routers/job.router.ts
  package.json
  packages/db/drizzle.config.json
  packages/db/index.ts
  packages/db/lib/create-migrator.ts
  packages/db/migrations/0000_useful_rage.sql
  packages/db/migrations/20230522_init_tables.ts
  packages/db/migrations/meta/0000_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/package.json
  packages/db/scripts/migrate.ts
  packages/db/scripts/seed.ts
  packages/db/seeds/init_job_sources.ts
  packages/db/src/env.ts
  packages/db/src/index.ts
  packages/db/src/schema.ts
  packages/db/tables.ts
  packages/db/tsconfig.json
Due: npm run lint:fix --, npm run lint:fix

chore: :package: remove kysely dependency, update package-lock.json
  .gitignore
  README.md
  apps/api/package.json
  package-lock.json
Due: npm run lint:fix

feat: :technologist: make kill-node{-port}.sh utilities
  util/kill-node-port.sh
  util/kill-node.sh
Due: none

fix: :technologist: add kill-node-port.sh example to readme
  README.md
  util/kill-node-port.sh
  util/kill-node.sh
Due: none

feat(db): add drizzle relations to schema; update api select query using relations
  apps/api/src/models/geo.model.ts
  apps/api/src/models/job.model.ts
  apps/api/src/models/tag.model.ts
  apps/api/src/routers/job.router.ts
  apps/api/tsconfig.json
  packages/db/migrations/0000_outstanding_skin.sql
  packages/db/migrations/meta/0000_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/index.ts
  packages/db/src/schema.ts
Due: npm run lint:fix --, npm run lint:fix
