Repository chile-sh/jobs: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix --, npm run lint:fix

.lintstagedrc:

{
  "*.{js,ts,tsx}": ["npm run lint:fix --"],
  "*.json": ["npm run lint:fix"]
}

fix: lint-staged can now run on individual files
  package.json
  turbo.json
Due: npm run lint:fix

refactor(api,worker): remove unused volta config
  apps/api/package.json
  apps/worker/package.json
Due: npm run lint:fix

refactor(api-util): move helpers to api-util; fix tsconfig
  apps/worker/src/queue/queue.controller.ts
  package-lock.json
  packages/api-util/ajv.ts
  packages/api-util/errors.ts
  packages/api-util/package.json
  packages/api-util/tsconfig.json
Due: npm run lint:fix --, npm run lint:fix

docs: add conventional commits docs to root readme
  README.md
Due: none

feat: add custom dev environment
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: npm run lint:fix

refactor(worker): worker should be a background task and not a microservice
  apps/worker/package.json
  apps/worker/src/context.ts
  apps/worker/src/index.ts
  apps/worker/src/queue.ts
  apps/worker/src/queue/queue.router.ts
  apps/worker/src/router.ts
  apps/worker/src/trpc.ts
  package-lock.json
Due: npm run lint:fix --, npm run lint:fix

refactor: ignore all logs
  .gitignore
Due: none

refactor(worker): prevent worker from making the scraper do so many requests per second
  apps/worker/.env.example
  apps/worker/src/queue.ts
Due: npm run lint:fix --

feat(scraper): extract slug from url portion (remove /jobs/ prefix if available)
  apps/scraper/src/scraper.ts
Due: npm run lint:fix --

feat(api-util): add subscription/websocket support
  package-lock.json
  packages/api-util/package.json
  packages/api-util/server.ts
Due: npm run lint:fix --, npm run lint:fix

fix: reduce number of cores used by devcontainer, prevent host os hangup
  .devcontainer/devcontainer.json
  README.md
Due: npm run lint:fix

feat(helpers): cerate helpers package
  packages/helpers/.eslintrc.js
  packages/helpers/.prettierrc.js
  packages/helpers/index.ts
  packages/helpers/package.json
  packages/helpers/tsconfig.json
Due: npm run lint:fix --, npm run lint:fix

feat(worker): extract bull config, add helpers package
  apps/worker/package.json
  apps/worker/src/bull-config.ts
  apps/worker/src/queue.ts
  package-lock.json
Due: npm run lint:fix --, npm run lint:fix

feat(worker): split queues, add scraper and insert queue
  apps/worker/src/index.ts
  apps/worker/src/queues/getonbrd/index.ts
  apps/worker/src/queues/getonbrd/insert-db.ts
  apps/worker/src/queues/getonbrd/scraper.ts
  apps/worker/src/queues/index.ts
Due: npm run lint:fix --

refactor(api-util,db): move out db into its own package
  packages/api-util/database.ts
  packages/api-util/package.json
  packages/db/.eslintrc.js
  packages/db/.prettierrc.js
  packages/db/index.ts
  packages/db/package.json
  packages/db/run-migrations.ts
  packages/db/tables.d.ts
Due: npm run lint:fix --, npm run lint:fix

refactor(api): :construction: update api models and types
  apps/api/db/migrate.ts
  apps/api/db/migrations/20230522_init_tables.ts
  apps/api/package.json
  apps/api/src/company/company.model.ts
  apps/api/src/country/country.model.ts
  apps/api/src/index.ts
  apps/api/src/job/job.model.ts
  apps/api/src/tag/tag.model.ts
  apps/api/src/types.d.ts
  package-lock.json
Due: npm run lint:fix --, npm run lint:fix

feat: :sparkles: add commitizen config and extension to devcontainer
  .devcontainer/devcontainer.json
  .vscode/settings.json
  apps/api/cz.json
Due: npm run lint:fix

docs: :memo: update readme (db migration, commitizen)
  README.md
Due: none

fix: move commitizen config to root
  cz.json
Due: npm run lint:fix

fix: :adhesive_bandage: fix eslint configs
  apps/api/.eslintrc.js
  apps/scraper/.eslintrc.cjs
  apps/worker/.eslintrc.js
  packages/configs/.eslintrc.js
Due: npm run lint:fix --

refactor: :recycle: minor fixes, move type-fest to shared deps
  apps/api/.swcrc
  apps/api/tsconfig.json
  package-lock.json
  package.json
  packages/db/tables.d.ts
Due: npm run lint:fix --, npm run lint:fix

style: :art: fix devcontainer and Dockerfile formatting
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: npm run lint:fix

feat(api): :sparkles: add insertJob procedure to api microservice
  apps/api/src/job/job.model.ts
  apps/api/src/job/job.router.ts
Due: npm run lint:fix --

refactor(api): :fire: remove unused types, remove createJob call with test data
  apps/api/README.md
  apps/api/src/index.ts
  apps/api/src/types.d.ts
Due: npm run lint:fix --

feat(api):
  apps/api/src/tag/tag.model.ts
Due: npm run lint:fix --

fix(scraper): :label: fix scraper types
  apps/scraper/src/router.ts
  apps/scraper/src/scraper.ts
  apps/scraper/src/types.d.ts
  apps/scraper/types.d.ts
Due: npm run lint:fix --

refactor(worker): :recycle: extract env config to external file
  apps/worker/.env.example
  apps/worker/src/env.ts
  apps/worker/src/index.ts
Due: npm run lint:fix --

docs: :memo: add git config init
  README.md
Due: none

feat(db): :label: update db types
  packages/db/index.ts
  packages/db/tables.ts
Due: npm run lint:fix --

feat(worker): :sparkles: integrate scraper trpc client
  apps/worker/src/queues/getonbrd/insert-db.ts
  apps/worker/src/queues/getonbrd/scraper.ts
Due: npm run lint:fix --

feat(api-util): :technologist: check if NODE_ENV is valid
  packages/api-util/env.ts
Due: npm run lint:fix --

refactor(worker): :recycle: extract worker queues, empty all queues before running tasks
  apps/worker/src/queues/getonbrd/index.ts
  apps/worker/src/queues/getonbrd/insert-db.ts
  apps/worker/src/queues/getonbrd/queues.ts
  apps/worker/src/queues/getonbrd/scraper.ts
Due: npm run lint:fix --

refactor: :technologist: better env handling (use envalid object instead of getEnvVariable)
  apps/scraper/src/env.ts
  apps/scraper/src/index.ts
  apps/scraper/src/router.ts
  apps/worker/src/queues/getonbrd/insert-db.ts
  apps/worker/src/queues/getonbrd/scraper.ts
  packages/api-util/env.ts
  packages/api-util/redis.ts
  packages/api-util/server.ts
  packages/db/env.ts
  packages/db/index.ts
Due: npm run lint:fix --

fix(scraper): :alien: fix getonbrd api types
  apps/scraper/src/types.d.ts
Due: npm run lint:fix --

refactor: :recycle: move out redis env from shared envalid config, set packages to use helpers instead of api-util
  apps/api/src/env.ts
  apps/scraper/src/env.ts
  apps/worker/src/env.ts
  packages/db/.env.example
  packages/db/env.ts
  packages/helpers/env.ts
Due: npm run lint:fix --

feat(db): :sparkles: improve tables types, move migrations to the db package, update readme
  README.md
  apps/api/package.json
  packages/api-util/package.json
  packages/db/index.ts
  packages/db/lib/create-migrator.ts
  packages/db/migrations/20230522_init_tables.ts
  packages/db/package.json
  packages/db/scripts/migrate.ts
  packages/db/tables.ts
  packages/db/tsconfig.json
Due: npm run lint:fix --, npm run lint:fix

refactor(api): :fire: remove unused validateEnv on index
  apps/api/src/index.ts
Due: npm run lint:fix --

chore: :label: add @types/node
  package-lock.json
  package.json
  packages/tsconfig/api.json
Due: npm run lint:fix

chore(api-util): :recycle: update env with new config
  packages/api-util/redis.ts
  packages/api-util/server.ts
Due: npm run lint:fix --

feat: :sparkles: add superjson parser to TRPC
  apps/api/src/trpc.ts
  apps/scraper/src/trpc.ts
  apps/worker/src/queues/getonbrd/insert-db.ts
  apps/worker/src/queues/getonbrd/scraper.ts
Due: npm run lint:fix --
